#new-update{
    margin: 7rem 7rem 4rem 7rem;
}

#title {
    margin-bottom: 2rem;
    overflow: hidden;
}

#title h3{
    font-weight: bolder;
    padding-right: 1rem;
}

#plus a{
    color: red;
}


#new-update img{
    width: 100%;
    height: auto;
}

#update-suv{
    margin: 1rem 0;
}

#update-suv h6{
    color: red;
}

#update-suv p{
    height: 6rem;
    width: 100%;
    font-weight: bolder;
    font-size: large;
}

#update-suv span{
    font-size: 12px;
    color: gray;
}

.orange-line{
    background-image:url(img/orange-line.gif);
    background-size: cover;
    width: 100%;
    height: 7rem;
    padding: 0;
    margin: 0;
}

#game-title{
    margin: 7rem 7rem 1rem 7rem;
    overflow: hidden;
}

#game-title img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

#game-suv{
    margin: 1rem 0;
}

#game-suv h6{
    color: red;
}

#game-suv p{
    height: 5rem;
    width: 100%;
    font-weight: bolder;
    font-size: large;
}

#game-suv span{
    font-size: 12px;
    color: gray;
}

#game-title a{
    position: relative;
    overflow: hidden;
}

.red-box{
    border-radius: 3px;
    background-color: rgb(216, 3, 3);
    color: white;
    font-size: 10px;
    font-weight: bolder;
    padding: 2px 5px;
    margin: 5px;
}

.k-box{
    box-sizing: border-box;
    border: 3px solid rgb(216, 3, 3);
    border-radius: 3px;
    padding: 1px 5px;
    text-align: center;
    line-height: 1rem;
    font-size: small;
    font-weight: bolder;
    color:rgb(216, 3, 3);
}

#k-box span{
    font-size: 1px;
    color:rgb(216, 3, 3);
}

.new-label{
    position: absolute;
    z-index: 1000;
    background-color: rgb(216, 3, 3);
    color: white;
    bottom: 3.4rem;
    right: 14.8rem;
    padding: 1rem 2rem 0.5rem 2rem;
    transform: rotate(310deg);
}

.col-sm-6{
    overflow: hidden;
}

.nintendo-banner{
    margin:7rem;
}

.nintendo-banner>div{
    margin-bottom: 1.5rem;
}

.nintendo-banner img{
    width: 100%;
    height: auto;
}

#easy-pesy {
    margin-bottom: 2rem;
}

#easy-pesy h4{
    font-weight: bolder;
}

.red-line{
    width: 100%;
    padding: 2rem 7rem;
    background-color: #e60012;
}
.red-line i{
    font-size: 2rem;
    color: white;
}

#download-block{
    padding-bottom: 2rem;
}

.download-block-a:hover .bg-round i{
    color: #e60012;
}

#download-block a{
    color: black;
}
#download-block > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(199, 199, 199, 0.795);
    border-bottom: 1px solid black;
    padding: 1rem 2rem;
    width: 28%;
    height: auto;
    font-size: large;
}

.bg-round{
    background-color:rgba(199, 199, 199, 0.795);
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 100px;
}

.bg-round i {
    font-size: 2rem;
    color: black;
}

#links{
    margin: 3rem 8rem 4rem;
}

.sns-links > div{
    padding: 0 0.5rem;
    width: 5rem;
    height: 5rem;
}

#links img{
    width: 100%;
    height: auto;
}

.my-icon{
    padding: 0 1rem;
    height: 5rem;
}

.amiibo-icon{
    margin-left: 1rem;
    height: 5rem;
}

#service-menu{
    margin: 0 10rem;
}

#service-menu a{
    color: gray;
    text-decoration: none;
    font-weight: 100;
}

#service-menu ul{
    position: relative;
    padding: 1rem 0;
    font-weight: bolder;
}

.point-box {
    width: 15px;
    height: 5px;
    background-color: #e60012;
}

@media screen and (max-width:1196px) {
    #new-update {
        margin: 5rem 1rem 1rem 1rem;
    }
    #game-title {
        margin: 5rem 1rem 1rem 1rem;
    }

    .hidden-nav{
        display: block;
    }
}