* {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

nav ul{
    font-size: 1.3rem;
}

nav li {
    padding: 1rem 0;
    width: 20%
}

nav i{
    font-size: 1.8rem;
}

#logo{
    background-color:#e60012;
}

#nav-last{
    position: relative;
}

#nav-download{
    background-color:#fe7c0a;
    position: absolute;
    padding: 8px 0;
    top: -7px;   
}

#nav-download a {
    color: white;
}

#nav-search{
    position: absolute;
    right: 4px;
    top: 7px;
    color: white;
    padding-bottom: 1.2rem;
}

#nav-search a {
    color: black;
}

nav li:hover {
    color: #e60012;
    cursor: grab;
}