* {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}

#nav{
    display: flex;
    align-items: center;
}

#logo{
    background-color:#e60012;
    width: 15%;
    height: 4.1rem;
}

#nav-menu{
    width: 70%;
}

#nav-menu ul{
    font-size: 1.3rem;
    width: 100%;
}

#nav-menu li {
    padding: 1rem 0;
    width: 100%;

}

#nav i{
    font-size: 1.8rem;
}

#nav-last{
    width: 15%;
    height: 4.1rem;
}

#nav-download{
    background-color:#fe7c0a;
    width: 70%;
    padding: 1rem 0;
    font-weight: bolder;
}

#nav-download a {
    color: white;
}

#nav-search {
    width: 30%;
}

#nav-search a {
    color: black;
}

#nav li:hover {
    color: #e60012;
    cursor: grab;
}

#nintendo-s{
    position: relative;
}

.hidden-s{
    display: none;
    position: absolute;
    font-size: 15px;
    color: black;
    width: 100%;
    height: auto;
    top:4rem;
    z-index: 1000;
    background-color: rgba(247, 247, 247, 0.952);
}

.hidden-s > li{
    width: 100%;
    font-size: medium;
    text-align: start;
}

.hidden-s a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.hidden-s a:hover{
    color: red;
}

#nintendo-3ds{
    position: relative;
}

.hidden-3ds{
    display: none;
    position: absolute;
    font-size: 15px;
    color: black;
    width: 100%;
    height: auto;
    top:4rem;
    z-index: 1000;
    background-color: rgba(247, 247, 247, 0.952);
}

.hidden-3ds > li{
    width: 100%;
    font-size: medium;
    text-align: start;
}

.hidden-3ds a {
    text-decoration: none;
    color: black;
}

.hidden-3ds a:hover{
    color: red;
}

#software{
    position: relative;
}

.hidden-soft{
    display: none;
    position: absolute;
    font-size: 15px;
    color: black;
    width: 100%;
    height: auto;
    top:4rem;
    z-index: 1000;
    background-color: rgba(247, 247, 247, 0.952);
}

.hidden-soft > li{
    width: 100%;
    font-size: medium;
    text-align: start;
}

.hidden-soft a {
    text-decoration: none;
    color: black;
}

.hidden-soft a:hover{
    color: red;
}

#service{
    position: relative;
}

.hidden-serv{
    display: none;
    position: absolute;
    font-size: 15px;
    color: black;
    width: 100%;
    height: auto;
    top:4rem;
    z-index: 1000;
    background-color: rgba(247, 247, 247, 0.952);
}


.hidden-serv > li{
    width: 100%;
    font-size: medium;
    text-align: start;
}

.hidden-serv a {
    text-decoration: none;
    color: black;
}

.hidden-serv a:hover{
    color:red;
}

#news{
    position: relative;
}

.hidden-news{
    display: none;
    position: absolute;
    font-size: 15px;
    color: black;
    width: 100%;
    height: auto;
    top:4rem;
    z-index: 1000;
    background-color: rgba(247, 247, 247, 0.952);
}


.hidden-news > li{
    width: 100%;
    font-size: medium;
    text-align: start;
}

.hidden-news a {
    text-decoration: none;
    color: black;
}

.hidden-news a:hover{
    color: red;
}

#nintendo-s:hover .hidden-s{
    display: block;
}

#nintendo-3ds:hover .hidden-3ds{
    display: block;
}

#software:hover .hidden-soft{
    display: block;
}

#service:hover .hidden-serv{
    display: block;
}
#news:hover .hidden-news{
    display: block;
}

#hidden-s > li:hover #hidden-s a{
    color: red;
}

#hidden-nav{
    display: none;
    background-color: #e60012;
}

.hidden-nav-logo img{
    padding: 0 1rem;
    width: 75%;
}

#hidden-nav i{
    font-size: 2rem;
    padding: 0.5rem;
    color: white;
}

.hidden-shop{
    background-color: #fe7c0a;
    padding: 0.5rem;
}


@media screen and (max-width:1196px) {
    #hidden-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav{
        display: none;
    }
}